.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}
.countries-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 110px;
}
.card {
  flex: 1 0 20%;
  min-width: 200px;
  margin: 5px;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(21, 20, 20);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.084);
  color: rgb(253, 232, 232);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
img {
  width: 160px;
  height: 100px;
  object-fit: cover;
}